*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
}

QMainWindow {
  background-color: #293347;
}

QWidget {
  color: #edf6ff;
}

QLabel {
  margin: 0;
  padding: 0;
}

QLineEdit, QPushButton {
  background-color: #3f4f6e;
  height: 22px;
  width: 100%;
  border-radius: 5px;
}

QPushButton:hover {
  background-color: hsl(220, 27%, 40%);
}

QRadioButton::indicator {
  height: 15px;
  width: 15px;

}

QRadioButton::indicator::unchecked {
  background-image: url("./images/radio/radio_unchecked.png");
}

QRadioButton::indicator::checked {
  background-image: url("./images/radio/radio_checked.png");
}